{% load static %}
{% load url_utils %}
{% load touglates_tags %}

<!DOCTYPE html>
<html lang='en'>
<head>
<title>Library Technical Inventory</title>
{% project_css_file as glocssfile %}
{% if glocssfile %}
  <link rel="stylesheet" href="{% static glocssfile %}">
{% endif %}
<link rel="stylesheet" href="{% static 'wishlist/wishlist.css' %}">
</head>
<body>
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% block menu %}
{% project_include_file as includefile %}
{% if includefile %}
  {% include includefile %}
{% endif %}
{% endblock %}
{% block content %}{% endblock %}
{% block bottomscript %}{% endblock %}
</body>
</html>
