{% load static %}
{% load url_utils %}
{% load touglates_tags %}
<!DOCTYPE html>
<html lang='en'>
<head>
<title>Wishlist</title>
<link rel="stylesheet" href="{% static 'wishlist/wishlist.css' %}">
{% project_include_file 'main_css' as cssfile %}
{% if cssfile %}<link rel="stylesheet" href="{% static cssfile %}">{% endif %}
</head>
<body>
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% block menu %}
{% project_include_file 'main_menu' as includefile %}
{% if includefile %}
  {% include includefile %}
{% endif %}
{% endblock %}
{% block content %}{% endblock %}
{% block bottomscript %}{% endblock %}
</body>
</html>
