{% load static %}
{% load url_utils %}
{% load shared_stuff %}
<!DOCTYPE html>
<html lang='en'>
<head>
<title>TCS Wish List</title>
{% global_css_file as glocssfile %}
{% if glocssfile %}
  <link rel="stylesheet" href="{% static glocssfile %}">
{% endif %}
<link rel="stylesheet" href="{% static 'wishlist/wishlist.css' %}">
</head>
<body>
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% block menu %}
{% include 'suvapuli/menu.html' %}
{% endblock %}
{% block content %}{% endblock %}
{% block bottomscript %}{% endblock %}
</body>
</html>
