{% extends './_base.html' %}
{% load static %}
{% block content %}
  <button type="button" id='btn_showviewform' class="show">Show Sort/Filter form</button>
  <div id='div_viewform' class="viewform hidden" >
    <form method="POST">
      {% csrf_token %}
      <div class="field-wrapper">
        <div class="control">
          <div class="label">
            Sort By
          </div>
          <div class="field">
            <select name="order_by">
              {% for field in order_by_fields_available %}
                <option value="{{ field.name }}"{% if order_by.0 == field.name %} selected="SELECTED" {% endif %}>{{ field.label }}</option>
              {% endfor %}
            </select>
            <select name="order_by">
              {% for field in order_by_fields_available %}
                <option value="{{ field.name }}"{% if order_by.1 == field.name %} selected="SELECTED" {% endif %}>{{ field.label }}</option>
              {% endfor %}
            </select>
            <select name="order_by">
              {% for field in order_by_fields_available %}
                <option value="{{ field.name }}"{% if order_by.2 == field.name %} selected="SELECTED" {% endif %}>{{ field.label }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="field-wrapper">
        <div class="control">
          <div class="label">
            Quick Search
          </div>
          <div class="field">
            <input id="ctl_combined_text_search" name="combined_text_search" value="{{ combined_text_search }}">
          </div>
        </div>
      </div>
      <div class="field-wrapper">
        <div class="control">
          <div class="label">
            Use "Is Resolved"
          </div>
          <div class="field">
            <input type="checkbox" name="filteruse__is_resolved" value="use"{% if filteruse__is_resolved == "use"%} checked="CHECKED" {% endif%}>
          </div>
          <div class="label">
            Is Resolved
          </div>
          <div class="field">
            <input type="hidden" name="filterop__is_resolved" value="exact">
            <select name="filterfield__is_resolved">
              <option value="">--</option>
              <option value="True"{% if filterfield__is_resolved %}{% if filterfield__is_resolved == "True" %} selected="SELECTED" {% endif %}{% endif %}>Yes</option>
              <option value="False"{% if filterfield__is_resolved %}{% if filterfield__is_resolved == "False" %} selected="SELECTED" {% endif %}{% endif %}>No</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field-wrapper">
        <div class="control">
          <div class="label">
            Item is
          </div>
          <div class="field">
            <input type="hidden" name="filterop__item" value="in">
            <select multiple name="filterfield__item">
              {% for item in items %}
                <option value="{{ item.pk }}"{% if filterfield__item %}{% if item.pk|lower in filterfield__item %} selected="SELECTED" {% endif %}{% endif %}>{{ item }}</option>
              {% endfor %}
            </select>
            None:<input type="checkbox" name="filterop__item" value="isnull" {% if 'isnull' in filterop__item %}checked="CHECKED" {% endif %}>
          </div>
        </div>
      </div>
      <div class="field-wrapper">
        <div class="control">
          <div class="label">
            Submitter is
          </div>
          <input type="hidden" name="filterop__submitted_by" value="in">
          <div class="field">
            <select multiple id="ctrl__filtefield__submitted_by" name="filterfield__submitted_by" >
              {% for user in users %}
                <option value="{{ user.pk }}"{% if filterfield__submitted_by %}{% if user.pk|lower in filterfield__submitted_by %} selected="SELECTED" {% endif %}{% endif %}>{{ user }}</option>
              {% endfor %}
            </select>
            <input type="checkbox" name="filter__mmodel__none">
          </div>
        </div>
      </div>
      <div class="field-wrapper">
        <div class="control">
          <div class="label">
            Paginate By
          </div>
          <div class="field">
            <input name="paginate_by" value="{{ paginate_by }}">
          </div>
        </div>
      </div>
      <div class="field-wrapper">
        <div class="control">
          <div class="label">
            Show Fields
          </div>
          <div class="field">
            <select multiple="multiple" name="show_columns">
              {% for field in showable_fields %}
                <option value="{{ field.name }}"{% if field.name in show_columns %} selected="SELECTED" {% endif %}>{{ field.label }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>


      <div class="field-wrapper">
        <div class="control">
          <div class="label">
            Save Search
          </div>
          <div class="field">
            <input name="vista__name" value="">
          </div>
        </div>
      </div>

      <div class="field-wrapper">
        <div class="control">
          <div class="label">
            &nbsp;
          </div>
          <div class="field">
            <button type="submit" name="vista_query_submitted" value='True'>Submit</button>
          </div>
        </div>
        <div class="help_text">
          &nbsp;
        </div>
      </div>
    </form>
    <form method="POST">
      {% csrf_token %}
      <h3>Saved View</h3>
      <div class="field-wrapper">
        <div class="control">
          <div class="label">
            Get Saved View
          </div>
          <div class="field">
            <select name="vista__name">
              <option value=''>-----</option>
              {% for vista in vistas%}
                <option value="{{ vista.name }}">{{ vista.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="field-wrapper">
        <div class="control">
          <div class="label">
            Action
          </div>
          <div class="field">
            <button type="submit" name="get_vista" value="get">Get</button>
            <button type="submit" name="delete_vista" value="delete">Delete</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="list">
    <div><a href="{% url 'wishlist:itemrequest-create' %}">create</a></div>
      <div class="row rowhead">
        {% include './_list_head.html' with field='' %}
        {% if 'description' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=itemrequest_labels.description %}
        {% endif %}
        {% if 'purpose' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=itemrequest_labels.purpose %}
        {% endif %}
        {% if 'notes' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=itemrequest_labels.notes %}
        {% endif %}
        {% if 'price' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=itemrequest_labels.price %}
        {% endif %}
        {% if 'link' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=itemrequest_labels.link %}
        {% endif %}
        {% if 'substitutability' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=itemrequest_labels.substitutability %}
        {% endif %}
        {% if 'urgency' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=itemrequest_labels.urgency %}
        {% endif %}
        {% if 'status' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=itemrequest_labels.status %}
        {% endif %}
        {% if 'submitted_by' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=itemrequest_labels.submitted_by %}
        {% endif %}
        {% if 'when' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=itemrequest_labels.when %}
        {% endif %}

      </div>

      {% for item in object_list %}
        <div class="row">
          <div class="listfield"><a href="{% url 'wishlist:itemrequest-detail' item.pk %}">view</a></div>
          {% if 'description' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.description %}
          {% endif %}
          {% if 'purpose' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.purpose %}
          {% endif %}
          {% if 'notes' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.notes %}
          {% endif %}
          {% if 'price' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.price %}
          {% endif %}
          {% if 'link' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.link %}
          {% endif %}
          {% if 'substitutability' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.get_substitutability_display %}
          {% endif %}
          {% if 'urgency' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.get_urgency_display %}
          {% endif %}
          {% if 'status' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.get_status_display %}
          {% endif %}
          {% if 'submitted_by' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.submitted_by %}
          {% endif %}
          {% if 'when' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.when %}
          {% endif %}

        </div>
      {% endfor %}

    </div>
  </div>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>


{% endblock %}
{% block bottomscript %}
  {{ block.super }}
  <script src="{% static 'touglates/touglates.js' %}"></script>
  <script>

    function toggleSortFilterForm() {
      btnShowviewform = document.getElementById('btn_showviewform')
      var viewDiv = document.getElementById('div_viewform')
      viewDiv.classList.toggle('hidden')
      if( viewDiv.classList.contains('hidden')) {
        btnShowviewform.textContent='Show Sort/Filter Form'
      } else {
        document.getElementById("ctl_combined_text_search").focus()
        btnShowviewform.textContent='Hide Sort/Filter Form'
      }
    }
  </script>
  <script>
    document.getElementById('btn_showviewform').addEventListener('click', function(e){
      e.preventDefault
      toggleSortFilterForm()
    });

  </script>
  <script>
    document.addEventListener('keydown', function(e) {
      if(e.ctrlKey) {
        if(e.shiftKey) {
          if(e.which==70) {
            e.preventDefault();
            toggleSortFilterForm()
          }
        }
      }
    });
  </script>
  <script>
    addFilterInput("ctrl__filter__item__in")
  </script>
  <script>
    addFilterInput("ctrl__filter__item__in")
  </script>
{% endblock %}
