{% load perm_checks %}
  <h2>{{ object }}</h2>

  <div class="detail">
    {% include './_detail_field.html' with label=itemrequest_labels.description field=object.description %}
    {% include './_detail_field.html' with label=itemrequest_labels.purpose field=object.purpose %}
    {% include './_detail_field.html' with label=itemrequest_labels.notes field=object.notes %}
    {% include './_detail_field.html' with label=itemrequest_labels.price field=object.price %}
    {% include './_detail_field.html' with label=itemrequest_labels.quantity field=object.quantity %}
    {% include './_detail_field.html' with label=itemrequest_labels.substitutability field=object.get_substitutability_display %}
    {% include './_detail_field.html' with label=itemrequest_labels.urgency field=object.get_urgency_display %}
    {% include './_detail_field.html' with label=itemrequest_labels.status field=object.get_status_display %}
    {% include './_detail_field.html' with label=itemrequest_labels.submitted_by field=object.submitted_by %}
    {% include './_detail_field.html' with label=itemrequest_labels.when field=object.when %}
  </div>

  <script>
    document.getElementById('a_addnote').addEventListener('click', function(e) {
      e.preventDefault()
      window.open(e.target.href)
    });
    function refreshDiv(fields, model) {
      var emptydiv = document.getElementById('div_' + model + '-empty')
      var newdiv = emptydiv.cloneNode(true)
      var allItemrequestnoteDivs = document.getElementsByClassName('relateditemrequestnote')
      newdiv.id = 'div_' + model + '-' + allItemrequestnoteDivs.length
      keys = Object.keys(fields)
      console.log('keys:')
      console.log(keys)
      for(key of keys){
        console.log("span[data-field='" + key + "']")
        console.log(fields[key])
        newdiv.querySelector("span[data-field='" + key + "']").innerText=fields[key]
      }
      newdiv.style.display="block"
      emptydiv.parentNode.insertBefore(newdiv, emptydiv)
    }
  </script>

