{% extends './_form.html' %}
{% load static %}
{% load perm_checks %}
{% block content %}
  <h2>{{ object }}</h2>
  {{ form.errors }}
  <form method="POST">
    <div class="form">
      {% csrf_token %}
      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}

      <div id="div_description">
        {% include './_form_field.html' with field=form.description %}
      </div>
      <div id="div_purpose">
        {% include './_form_field.html' with field=form.purpose %}
      </div>
      <div id="div_notes">
        {% include './_form_field.html' with field=form.notes %}
      </div>
      <div id="div_price">
        {% include './_form_field.html' with field=form.price %}
      </div>
      <div id="div_quantity">
        {% include './_form_field.html' with field=form.quantity %}
      </div>
      <div id="div_link">
        {% include './_form_field.html' with field=form.link %}
      </div>
      <div id="div_substitutability">
        {% include './_form_field.html' with field=form.substitutability %}
      </div>
      <div id="div_urgency">
        {% include './_form_field.html' with field=form.urgency %}
      </div>
      <div id="div_status">
        {% include './_form_field.html' with field=form.status %}
      </div>
      <div id="div_submitted_by">
        {% include './_form_field.html' with field=form.submitted_by %}
      </div>
      <div id="div_when">
        {% include './_form_field.html' with field=form.when %}
      </div>

      {% include './_form_button.html' with label="Submit Form" button='<button type="submit">Submit</button>' %}


    </div>

  </form>

{% endblock %}
{% block bottomscript %}
  {{ block.super }}
{% endblock %}

